html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.information {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}